@import '@/style/variables.scss';

a{
    text-decoration: none;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}

.border-right{
    border-right: 1px solid;
}

.pd-ex{
    padding: 0 15px;
}

.pd-tb{
    padding: 90px 0;
}

.button{
    all:unset;
    padding: 10px 15px;
    border-radius: 30px;
    cursor: pointer;
}
.color-gs{
    background-color: $yellow-orange;
}

.color-contact{
    background-color: $science-blue;
}