$color-white:#fff;
$color-black:#000;
$yellow-orange:#ffa837;
$science-blue:#0369d7;
$width-container:992px;
$concrete:#f3f3f3;
$alabaster:#f8f8f8;
$deep-cove:#051745;
$jackson-purple:#2a1999;
$lucky-point:#1a246c96;